@font-face {
  font-family: terminal;
  src: url(./fonts/VT323-Regular.ttf);
}

@font-face {
  font-family: ff-moon;
  src: url(./fonts/FfMoon-Regular.ttf);
}

@property --left-side-percent {
  syntax: '<percentage>'; 
  initial-value: 60%;
  inherits: false;
}

@property --right-side-percent {
  syntax: '<percentage>'; 
  initial-value: 60%;
  inherits: false;
}

#root {
  width: 100vw;
  height: 100vh;

  font-family: monospace;
  overflow-y: hidden;
}

.home{
  width: 100%;
  height: 100%;
}
.background{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(36,36,36);
  background:
  linear-gradient(90deg, #121212 0%,rgb(36, 36, 36) 30%, rgb(47, 180, 241) 35%, rgb(45, 67, 196) 65%, rgba(36,36,36,1) 75%,#121212 100%);

  z-index: -1;
  filter: blur(100px);
}
.home .header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}
.home .header img{
  height: 100%;
}
.home .info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  backdrop-filter: blur(5px) brightness(0.8);
}
.home .info span{
  display: flex;
  gap: 5px;
  align-items: center;
}
.home .projects{
  display: flex;
  gap: 2em;

  padding: 2em;

  flex-wrap: wrap;
  height: 60%;
  overflow-y: auto;
  margin-top: 2em;

  justify-content: center;
}
.home .projects .project-container{
  width: 15%;
  height: 250px;
  
  min-width: 300px;

  transition: 0.3s;

}
.home .projects .project{
  width: 100%;
  height: 100%;
  border-radius: 10px;

  backdrop-filter: blur(5px) brightness(0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  position: relative;

  color: white;
}

.home .projects .project-container:hover .project{
  padding: 10px;

}

.home .projects .project-container:hover{
  margin-right: 20px;
  margin-top: -10px;
  z-index: 100;
}

.home .projects .project img{
  position: absolute;
  height: 100%;
  filter: blur(1px);
  transform: scale(1.5)  translateX(25%) translateY(25%);
  transition: 1s;
  z-index: -1;
}
.home .projects .project-container:hover img{
  filter: blur(0px);
}
.home .projects .project-container .actions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0;
  margin-top: 5%;

  transition: 0.3s;
}
.home .projects .project-container:hover .actions{
  opacity: 1;
}
.home .projects .project-container .action{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.app{
  width: 100%;
  height: 100%;
  overflow: hidden;

  --primary: rgba(106, 88, 211, 0.7);
  --secondary: rgba(211, 88, 106, 0.7);
  
  
  transition: --left-side-percent 1s,  --right-side-percent 1s;
}

.app .background{
  background:
  linear-gradient(90deg, #121212 0%,rgb(36, 36, 36) 30%, var(--primary) 35%, var(--secondary) 65%, rgba(36,36,36,1) 75%,#121212 100%);
}

.app.haze{
  --primary: rgba(106, 88, 211, 0.7);
  --secondary: rgba(211, 88, 106, 0.7);
}

.app.night{
  --primary: rgba(5, 7, 117, 0.7) !important;
  --secondary: rgba(78, 121, 238, 0.7) !important;
}

.app.sunset{
  --primary: rgba(212, 134, 44, 0.7) !important;
  --secondary: rgba(238, 78, 139, 0.7) !important;
}

.app.cold{
  --primary: rgba(100, 100, 100, 0.7) !important;
  --secondary: rgba(64, 101, 202, 0.7) !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}


.app .container{
  position: relative;
  left: 2.5%;
  top: 1.5%;
  bottom: 2.5%;
  width: 95%;
  height: 85%;
  display: flex;
}
.app .header{
  width: calc(95% - 10px);
  padding: 0px 5px;
  margin-left: 2.5%;
  position: relative;
  top: 1%;
  display: flex;
  height: 5%;
  margin-top: 1%;
  margin-bottom: 2%;

  display: flex;
  backdrop-filter: brightness(0.5);
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s;
}

.app .header:hover{
  padding: 5px;
}

.actions{
  display: flex;
  align-items: center;
  gap: 10px;

  overflow: hidden;
}

.action-btn{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.action-btn::after{
  display: block;
  content: attr(data-title);
  width: 100px;
  position: relative;
  left: 20px;
  padding-left: 10px;
  opacity: 0;
  
  transition: 0.3s;
}
.action-btn:hover{
  margin-right: 100px;
}
.action-btn:hover::after{
  opacity: 1;
}

.settings-dropdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.settings {
  position: relative;
  display: block;
  width: 50vw;
  height: 70vh;
  backdrop-filter: blur(20px) brightness(0.8);

  border-radius: 10px;
  padding: 0px;
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  max-height: 70vh;
}

.settings h1{
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: var(--secondary);
  margin: 0px;
  padding: 5px;
}

.settings .settings-container{
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.settings .fields{
  display: flex;
  flex-direction: column;
}

.settings .fields .field{
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 40px;
  align-items: center;
}

.settings .fields .field input, select{
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary);
  width: 50px;
  height: 30px;
  text-align: center;
}
.settings .fields .field option{
  color: white;
  background-color: var(--primary);
}

.editor {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  margin-right: 5px;
  backdrop-filter: brightness(0.5);

  transition: 0.3s;

}
.editor:hover{
  padding: 10px;
  margin-top: -10px;
}

.editor .files{
  display: flex;
  height: 50px;
  gap: 10px;
  position: absolute;
  top: -40px;
}

.editor .files > span{
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1rem;
  background: transparent;
  caret-color: white;
  border: none;
  outline: none;
  resize: none;
  z-index: 0;
  opacity: 1;
  color: transparent;
  white-space: pre-wrap;
  overflow: auto;
  line-height: 1rem;
}

.highlighted {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 1rem;
  color: white;
  overflow: auto;
  pointer-events: none;
  z-index: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.highlighted code {
  display: block;
  line-height: 1rem; 

}

.highlighted span {
  display: inline-block; 
  line-height: 1rem; 
  pointer-events: all;
  position: relative;
  cursor: pointer;
}

.highlighted span:hover::before,
.highlighted span:hover::after {
  position: absolute;
  top: 0;
  padding: 4px;
  color: white;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 4px;
  z-index: 10;
}

.highlighted span:hover::before {
  content: attr(data-type);
  font-size: 12px;
  left: 100%;
  margin-left: 8px;
}

.highlighted span:hover::after {
  content: attr(data-desc);
  width: fit-content;
  min-width: 100px;
  font-size: 10px;
  left: 100%; 
  margin-left: 8px;
  margin-top: 8px;
  top: 20px;
}

.keyword { color: cyan; font-weight: bold; }
.operator { color: orange; }
.type { color: violet; }
.gate{color: lightgreen;}
.pin{font-style: italic; color: #7F95EB;}
.comment{opacity: 0.8; color:#ff7e7e;}

.breadboard {
  position: relative;
  width: 50%;
  height: 100%;
  backdrop-filter: brightness(0.5);
  margin-left: 5px;
  border-radius: 10px;

  display: flex;

  transition: padding 0.3s, margin 0.3s;

}
.breadboard:hover{
  padding: 10px;
  margin-top: -10px;
}

.breadboard .stats{
  display: flex;
  height: 50px;
  gap: 10px;
  position: absolute;
  top: -40px;
  right: 0%;
}

.breadboard .stats > span{
  position: relative;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.breadboard .stats > span:hover::before,
.breadboard .stats > span:hover::after {
  position: absolute;
  top: 0;
  padding: 4px;
  color: white;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 4px;
  z-index: 10;
}

.breadboard .stats > span:hover::before {
  content: attr(data-type);
  font-size: 12px;
  right: 100%;
  margin-left: 8px;
}

.breadboard .stats > span:hover::after {
  content: attr(data-desc);
  width: fit-content;
  min-width: 100px;
  font-size: 10px;
  right: 100%; 
  margin-left: 8px;
  margin-top: 8px;
  top: 20px;
}

.circuit-container{
  width: fit-content;
  position: relative;
  animation: pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: fit-content;
}
.breadboard .circuit{
  height: 30px;
  width: fit-content;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #121212;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: grabbing;
  filter: drop-shadow(5px 2px 5px #121212);
}

.built-in-circuit{
  cursor: grabbing;
  filter: drop-shadow(5px 2px 5px #121212);

  transition: background 0.5s, filter 0.5s;
}

.circuit-container .pins{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.breadboard path{
  filter: drop-shadow(2px 2px 5px #121212);
}
.stats path {
  filter: none;
}
.active-wire path {
  stroke-width: 4;
  stroke-dasharray: 10 5;  /* Dash pattern */
  stroke-dashoffset: 0;   /* Start at 0 */
  animation: dashMove 1s linear infinite;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes dashMove {
  from {
      stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: -15px; /* Move smoothly */
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}


@media only screen and (max-width: 1000px) {
  .app{
    overflow-y: scroll;
  }
  .container{
    flex-wrap: wrap;
    gap: 5em;
  }
  .editor{
    width: 100%;
    margin-top: 2em !important;
  }
  .breadboard{
    width: 100%;
  }
  .editor .files{
    justify-content: center !important;
    width: 100%;
  }
  .breadboard .stats{
    justify-content: center !important;
    width: 100%;
  }
}